site_name: Пешачко
site_url: https://peshachko.github.io/

plugins:
  - search
  - glightbox

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.tooltips
    - content.code.annotate
    - content.code.copy
    - navigation.indexes
    - navigation.footer
    # - navigation.sections
    # - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top

nav:
  - Index: index.md

docs_dir: src

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

markdown_extensions:
  - def_list
  - footnotes

  - pymdownx.arithmatex:
      generic: true

  - toc:
      permalink: "#"

  - attr_list
  - pymdownx.blocks.caption
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

  # https://squidfunk.github.io/mkdocs-material/reference/code-blocks/
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite

  - pymdownx.snippets:
      base_path: src

  - pymdownx.tabbed:  # Content tabs
      alternate_style: true

  - admonition
  - pymdownx.details

  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
        # https://github.com/pawamoy/markdown-exec
        - name: python
          class: python
          validator: !!python/name:markdown_exec.validator
          format: !!python/name:markdown_exec.formatter

  - abbr
  - md_in_html
