[data-md-component="announce"] .md-banner__inner {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

[data-md-component="announce"] .md-banner__inner .banner-custom img {
    display: block;
    width: 100%;
}

[data-md-component="announce"] .md-banner__inner .banner-custom {
    position: relative;
}

[data-md-component="announce"] .md-banner__inner .banner-custom .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
    text-align: center;

    text-shadow: 0 2px 8px rgba(0, 0, 0, 1);

	font-size: clamp(1.5rem, 3vw, 3rem);
}

[data-md-component="announce"] .md-banner__inner .banner-custom:hover .banner-text {
    transform: translate(-50%, -50%) scale(1.05);
}

[data-md-component="announce"] .md-banner__inner .banner-custom .banner-button {
    position: absolute;
	top: 0;
    left: 0;
}
